# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env.development
.env.production
src/assets/sielata_ico.png
src/assets/sielata_logo_53.gif
src/assets/sielata_logo_53w.gif
.gitignore
.gitignore
.gitignore
src/assets/sielata_logo_druk_new_bw.gif
src/assets/sielata_logo_new_w.gif
src/assets/fonts/Campton-Bold.otf
src/assets/fonts/Lato-Bold.ttf
.gitignore
.gitignore
src/assets/fonts/Lato-Light.ttf
src/assets/anniversary/*
src/assets/sponsors/*
